name: CI CD - API-Flask Python Appln 


on:
 push

jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v6.0.1
     - name: Docker Setup Buildx
       uses: docker/setup-buildx-action@v3.11.1
     - name: Docker Login
       uses: docker/login-action@v3.6.0
       with:
         username: ${{secrets.DOCKER_UN}}
         password: ${{secrets.DOCKER_PSWD1}}
     - name: Build and push Docker images
       uses: docker/build-push-action@v6.18.0
       with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
           ${{secrets.DOCKER_UN}}/myapp:latest
           ${{secrets.DOCKER_UN}}/myapp:${{ github.sha}}
 dev:
  needs: build
  environment: dev
  runs-on: ubuntu-latest
  steps:
   - name: Deploy to dev 
     run: echo "deploy to dev"
 test:
  needs: dev
  environment: test
  runs-on: ubuntu-latest
  steps:
   - name: Deploy to test 
     run: echo "deploy to test"
 staging:
  needs: test
  runs-on: ubuntu-latest
  environment: staging
  steps:
   - name: Deploy to staging 
     run: echo "deploy to staging"
     
     
       
