name: Docker Build Push 

on:
 workflow_dispatch:

jobs:
 docker-build:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2
    - name: Docker Login
      uses: docker/login-action@v3.7.0
      with:
       username: ${{vars.DOCKER_UN}}
       password: ${[secrets.DOCKER_PSWD_NEW}}
    - name: Docker Build
      run: |
       docker build -t my-python-app:1.0 .
    - name: Docker tag
      run: |
       docker tag my-python-app:1.0 karthikamn/my-python-app:1.0
    - name: Docker push
      run: |
       docker push karthikamn/my-python-app:1.0
    - name: Docker run  
      run: |
       docker run -d -p 5000:5000 karthikamn/my-python-app:1.0 
       
       
    
   
